.DS_Store
nbproject/
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml

slides/*.pdf
slides/*.aux
slides/*.lof
slides/*.log
slides/*.lot
slides/*.fls
slides/*.out
slides/*.toc
slides/*.nav
slides/*.snm
slides/*.synctex.gz
